/******************** ********************/
/******************** IMPORTS ********************/
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Khand:400,500");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600&display=swap");
/******************** VARS ********************/
/******************** MEDIA QUERIES ********************/
/******************** BASE ********************/
* { outline: transparent !important; }

html, body { color: #353e52; min-width: 320px; font-family: "Oswald", sans-serif; font-size: 16px; line-height: 1.6; font-smoothing: antialiased; }

body { background: #fff; overflow-x: hidden; }

strong { font-weight: 900; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 30px; font-family: "Oswald", sans-serif; font-weight: normal; line-height: 1.4; }

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong { font-weight: 900; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: inherit; font-size: 70%; font-weight: inherit; }

h1 { font-size: 100px; }

h2 { font-size: 52px; }

h3 { font-size: 35px; }

h4 { font-size: 25px; }

h5 { font-size: 20px; }

h6 { font-size: 16px; }

section { padding: 50px 0; }

img { max-width: 100%; height: auto; }

p { margin-bottom: 20px; }

p:last-child { margin-bottom: 0; }

a { color: inherit; text-decoration: none !important; transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }

a:active, a:focus, a:visited { color: inherit; }

a:hover { color: #6cbe99; }

a.pink:hover { color: #e76879; }

p.green, h1.green, h2.green, h3.green, h4.green, h5.green, h6.green, a.green { color: #6cbe99; }

.w-60 { width: 60% !important; }

/******************** CLASSES ********************/
#content-wrapper { width: 100%; overflow: hidden; }

.nopadding { padding: 0; }

.row.rowflex { display: flex; }

@media (min-width: 768px) { .row.rowflex-sm { display: flex; } }

@media (min-width: 992px) { .row.rowflex-md { display: flex; } }

@media (min-width: 1200px) { .row.rowflex-lg { display: flex; } }

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }

.col-xs-5ths { width: 20%; float: left; }

@media (min-width: 768px) { .col-sm-5ths { width: 20%; float: left; } }

@media (min-width: 992px) { .col-md-5ths { width: 20%; float: left; } }

@media (min-width: 1200px) { .col-lg-5ths { width: 20%; float: left; } }

figure.fit { background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 0; padding-bottom: 100%; overflow: hidden; }

figure.fit.f16by9 { padding-bottom: 56.25%; }

figure.fit.f4by3 { padding-bottom: 75%; }

figure.fit.f3by4 { padding-bottom: 133.333333%; }

.bt-medium { padding: 12px 18px; min-width: 130px; font-size: 14px; }

.bt-large { padding: 17.5px 22px; min-width: 170px; font-size: 18px; }

.form-group { margin-bottom: 20px; }

.owl-carousel.full-height { height: 100%; }

.owl-carousel.full-height, .owl-carousel.full-height .owl-stage-outer, .owl-carousel.full-height .owl-stage { height: inherit; }

.owl-carousel.full-height .owl-stage { display: flex; }

.owl-carousel.full-height .owl-stage .owl-item { flex-shrink: 0; }

.owl-carousel.full-height .item { height: 100%; }

.owl-carousel .owl-item img { width: auto; }

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next { background: #fff !important; display: inline-flex; align-items: center; justify-content: center; position: absolute; top: calc(50% - 30px); width: 60px; height: 60px; transition: color 0.2s ease-in-out, background 0.2s ease-in-out; }

.owl-carousel .owl-nav .owl-prev:before, .owl-carousel .owl-nav .owl-next:before { content: ""; display: block; width: 24px; height: 24px; border-top: 2px solid #353e52; border-left: 2px solid #353e52; transform: translateX(6px) rotate(-45deg); transition: border-color 0.2s ease-in-out; }

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover { background: #6cbe99 !important; }

.owl-carousel .owl-nav .owl-prev:hover:before, .owl-carousel .owl-nav .owl-next:hover:before { border-color: #fff; }

.owl-carousel .owl-nav .owl-next { right: 0; }

.owl-carousel .owl-nav .owl-next:before { transform: translateX(-6px) rotate(135deg); }

.owl-carousel .owl-dots { position: absolute; left: 50%; bottom: 30px; transform: translateX(-50%); }

.owl-carousel .owl-dots .owl-dot { background: #fff; display: inline-block; width: 56px; height: 3px; margin-right: 10px; transition: background 0.2s ease-in-out, border 0.2s ease-in-out; }

.owl-carousel .owl-dots .owl-dot:last-child { margin-right: 0; }

.owl-carousel .owl-dots .owl-dot.active { background: #6cbe99; }

.owl-carousel .owl-dots .owl-dot:before { content: ""; display: block; width: 100%; height: 100%; padding: 10px 0; margin-top: -10px; }

/******************** MENU ********************/
body { padding-top: 90px; }

@media (max-width: 991px) { body { padding-top: 70px; } }

#header { background: transparent; position: fixed; top: 0; width: 100%; z-index: 10; transition: background 0.3s ease-in-out; }

#header nav.main-menu { display: flex; align-items: center; height: 90px; transition: height 0.3s ease-in-out; }

#header nav.main-menu .logo { display: flex; align-items: center; }

#header nav.main-menu .logo .brand img { transition: height 0.3s ease-in-out; }

#header nav.main-menu #menu { display: flex; align-items: center; justify-content: center; }

#header nav.main-menu #menu > ul { list-style: none; padding: 0; margin: 12px 0 0; display: flex; font-size: 15px; font-weight: normal; text-transform: initial; }

#header nav.main-menu #menu > ul:after { content: ""; clear: both; display: table; }

#header nav.main-menu #menu > ul > li > a { color: rgba(255, 255, 255, 0.7); padding: 0 10px; text-transform: uppercase; font-weight: 600; }

#header nav.main-menu #menu > ul > li > a:hover { color: #19e9ff; }

#header nav.main-menu .direita { display: flex; align-items: center; justify-content: flex-start; }

#header nav.main-menu .direita img { transition: transform 0.3s ease-in-out; }

#header nav.main-menu .social { display: flex; align-items: center; justify-content: center; color: white; }

#header nav.main-menu .social a { margin-left: 10px; }

#header nav.main-menu .social a:last-child { text-transform: uppercase; border: solid 2px; padding: 3px; font-weight: 600; font-size: 15px; }

#header nav.main-menu #menu-toggle { color: white; background-color: transparent; text-transform: uppercase; display: flex; align-items: center; border: 0; font-size: 15px; outline: transparent !important; transition: color 0.6s ease-in-out; }

#header nav.main-menu #menu-toggle .icon-bars { background: white; display: inline-block; height: 1px; width: 20px; margin-left: 12px; margin-right: 5px; position: relative; transition: background 0.6s ease-in-out 0s; }

#header nav.main-menu #menu-toggle .icon-bars:before, #header nav.main-menu #menu-toggle .icon-bars:after { content: ""; background: white; position: absolute; right: 0; height: 1px; transition-property: top, bottom, width, transform, background; transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.6s; transition-delay: 0.3s, 0.3s, 0.3s, 0s, 0s; transition-timing-function: ease-in-out, ease-in-out, ease-in-out; }

#header nav.main-menu #menu-toggle .icon-bars:before { width: 20px; top: -6px; }

#header nav.main-menu #menu-toggle .icon-bars:after { width: 20px; bottom: -6px; }

#header.top-fixed, #header.top-fixed2 { background: black; }

#header.open { z-index: 2; }

#header.open nav.main-menu #menu-toggle { color: #fff; }

#header.open nav.main-menu #menu-toggle .icon-bars { background: transparent !important; }

#header.open nav.main-menu #menu-toggle .icon-bars:before { background: #fff; top: 0; width: 20px; transform: rotate(45deg); transition-delay: 0s, 0s, 0s, 0.3s; }

#header.open nav.main-menu #menu-toggle .icon-bars:after { background: #fff; bottom: 0; transform: rotate(-45deg); transition-delay: 0s, 0s, 0s, 0.3s; }

.sub-menu.open { left: 0%; transition: ease-in-out 0.5s; -moz-transition: ease-in-out 0.5s; -webkit-transition: ease-in-out 0.5s; -o-transition: ease-in-out 0.5s; background: black; }

.sub-menu { background: rgba(0, 0, 0, 0); width: 30%; display: flex; position: fixed; height: 100%; left: -30%; top: 0; z-index: 2; padding: 30px; transition: ease-in-out 0.5s; -moz-transition: ease-in-out 0.5s; -webkit-transition: ease-in-out 0.5s; -o-transition: ease-in-out 0.5s; }

.sub-menu nav ul li { text-align: right; margin-bottom: 10px; display: block; }

.sub-menu nav ul li h3 { color: #31e8ff; margin-bottom: 0px; font-size: 24px; }

.sub-menu nav ul li h4 { margin-bottom: 15px; margin-top: 15px; }

.sub-menu nav ul li h4 a { color: #31e8ff; font-size: 24px; }

.sub-menu nav ul li a { font-size: 18px; color: #fff; display: block; }

.sub-menu nav ul li a:hover { color: #31e8ff; transition: ease-in-out 0.2s; -moz-transition: ease-in-out 0.2s; -webkit-transition: ease-in-out 0.2s; -o-transition: ease-in-out 0.2s; }

.sub-menu .link-phone { margin-top: 30px; color: #6cbe99; font-size: 26px; }

@media (max-width: 992px) { .sub-menu { width: 100%; right: -100%; } }

@media (max-width: 480px) { .sub-menu { width: 100%; right: -100%; } }

.social-menu { margin-top: 0px; }

.social-menu h6 { color: #6cbe99; margin-bottom: 10px; }

.social-menu a { width: 50px; height: 50px; display: inline-block !important; color: #6cbe99; font-size: 20px; }

.social-menu a:hover { color: #fff; transition: ease-in-out 0.2s; -moz-transition: ease-in-out 0.2s; -webkit-transition: ease-in-out 0.2s; -o-transition: ease-in-out 0.2s; }

@media (min-width: 992px) { #header.top-fixed nav.main-menu, #header.top-fixed2 nav.main-menu { height: 60px; }
  #header.top-fixed nav.main-menu .direita img, #header.top-fixed2 nav.main-menu .direita img { transform: scale(0.9); } }

@media (min-width: 992px) and (max-width: 1199px) { #header nav.main-menu #menu > ul > li > a { padding-left: 15px; padding-right: 15px; } }

#header + .undermenu { margin-top: -90px; }

/******************** MISC ********************/
/******************** FOOTER ********************/
.posfooter { display: flex; background: #19e9ff; padding-top: 15px; }

.posfooter p { font-size: 13px; color: #464646; }

#footer { background: url(assets/img/footer.png) no-repeat; padding: 60px 0; }

#footer .col .titulo { color: #454545; text-transform: uppercase; font-size: 17px; font-weight: 600; margin-bottom: 5px; }

#footer .menu ul { list-style: none; padding: 0; margin: 0; margin-bottom: 29px; }

#footer .menu ul li { position: relative; padding-left: 26px; margin-bottom: 8px; }

#footer .menu ul li:last-child { margin-bottom: 0; }

#footer .menu ul li img { position: absolute; left: 0; top: 50%; transform: translateY(-50%); }

#footer .social .icons { font-size: 22px; line-height: 1; display: flex; }

#footer .social .icons .social-icon { color: #19e9ff; margin-right: 20px; }

#footer .social .icons .social-icon:last-child { margin-right: 0; }

#footer .social .icons .social-icon:hover { color: #fff; }

#footer .copy { color: #95a1a8; font-size: 16px; }

#footer .copy p { margin: 0; }

/******************** HOME ********************/
#home-banner { background-size: cover; background-position: center center; background-repeat: no-repeat; display: flex; flex-direction: column; justify-content: center; height: calc(100vh - -160px); padding: 0; }

#home-banner .sobretitulo small { display: block; }

#home-banner .titulo, #home-banner img { margin-bottom: 25px; }

#home-banner .mouse-scroll-container { position: absolute; left: 50%; bottom: 45px; transform: translateY(-100%); z-index: 1; }

#home-banner-page { background-size: cover; background-position: center center; background-repeat: no-repeat; display: flex; flex-direction: column; justify-content: center; height: calc(100vh - 145px); padding: 0; }

#home-banner-carousel { padding-bottom: 90px; }

#home-banner-carousel .item { display: flex; align-items: center; padding: 120px 0; }

#home-banner-carousel .owl-dots { counter-reset: home-banner-dots; bottom: 50px; transform: none; }

@media (max-width: 767px) { #home-banner-carousel .owl-dots { left: 15px; } }

@media (min-width: 768px) and (max-width: 991px) { #home-banner-carousel .owl-dots { left: calc((100% - 750px) / 2 + 15px); } }

@media (min-width: 992px) and (max-width: 1199px) { #home-banner-carousel .owl-dots { left: calc((100% - 970px) / 2 + 15px); } }

@media (min-width: 1200px) { #home-banner-carousel .owl-dots { left: calc((100% - 1170px) / 2 + 15px); } }

#home-banner-carousel .owl-dots .owl-dot { color: #fff; background-color: transparent; position: relative; width: 68px; height: auto; margin-right: 24px; border-bottom: 1px solid #fff; font-size: 13px; text-align: left; transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out; }

#home-banner-carousel .owl-dots .owl-dot:before { counter-increment: home-banner-dots; content: counter(home-banner-dots, decimal-leading-zero); padding: 6px 4px; }

#home-banner-carousel .owl-dots .owl-dot:after { content: ""; background-color: #6cbe99; position: absolute; left: 0; bottom: 0; width: 38px; height: 2px; opacity: 0; transition: background 0.2s ease-in-out, opacity 0.2s ease-in-out; }

#home-banner-carousel .owl-dots .owl-dot.active { color: #6cbe99; border-bottom-color: #6cbe99; }

#home-banner-carousel .owl-dots .owl-dot.active:after { opacity: 1; }

/******************** RESPONSIVE ********************/
@media (max-width: 767px) { /***** BASE *****/ }

@media (min-width: 480px) and (max-width: 991px) { /***** HOME *****/ }

@media (min-width: 768px) and (max-width: 991px) { /***** BASE *****/ }

@media (min-width: 992px) and (max-width: 1199px) { /***** BASE *****/
  /***** HEADER *****/
  #header #sub-menu > ul > li > a { padding-right: 14px !important; padding-left: 14px !important; } }

#carousel-sg-imovel .box-1 { padding: 50px 30px 50px 50px; }

#carousel-sg-imovel .box-1 h4 { color: #666; margin-bottom: 30px; margin-left: 30px; font-family: "Khand"; }

#carousel-sg-imovel .box-1 h5 { margin-left: 30px; font-size: 30px; }

#carousel-sg-imovel .box-2 { background-color: #3c3c3d; }

#carousel-sg-imovel .owl-nav button[class*="owl-"]::before { border-top: 1px solid #000; border-left: 1px solid #000; }

#carousel-sg-imovel .icon-planta { float: right; clear: both; margin-top: 40px; }

.mapa-sg { padding-top: 200px; }

.mapa-sg aside { margin-top: 50px; }

.mapa-sg aside p { border-bottom: 1px solid #000; }

.mapa-sg aside ul { padding-left: 0; }

.mapa-sg aside ul li { display: block; padding-bottom: 10px; }

.mapa-sg .container { position: relative; }

.box-mapa { color: #fff; width: 45%; display: inline-block; position: absolute; top: -80px; left: 0; left: 15px; }

.box-mapa img { margin-right: 15px; }

.box-mapa h2 { font-family: "Khand"; font-size: 30px; margin-bottom: 15px; }

.box-mapa p { font-size: 17px; }

.ic-gale { margin-right: 10px; position: relative; top: 3px; }

.status-obra h5 { margin-bottom: 15px; }

.box-obra { color: #fff; margin-top: -350px; margin-right: 70px; }

.box-obra h6 { font-family: "Khand"; font-size: 30px; }

.box-obra .progress { background-color: #3c3c3d; border-radius: 0; }

.box-obra .progress-bar { background-color: #fff; }

.cta-sg p { margin-bottom: 20px; }

.cta-sg .cta-phon, .cta-sg .cta-what { width: 100%; font-size: 24px; display: block; margin-top: 15px; }

.cta-sg .cta-phon i, .cta-sg .cta-what i { margin-right: 20px; font-size: 18px; }

.cta-sg .list-group-item { border-radius: 0 !important; padding: 30px 20px; text-align: center; border: 1px solid rgba(0, 0, 0, 0); }

.cta-sg .tab-pane { background-color: #fff; }

.session-home { position: relative; }

.session-home .quem { position: absolute; z-index: 1; bottom: 50%; right: 0; }

.session-home .conteudo-icone { display: flex; margin-top: 50px; }

.session-home .conteudo-icone p { font-size: 36px; font-weight: 600; color: black; }

.session-home .conteudo-icone .texto { padding-left: 75px; }

.session-home .conteudo { display: flex; }

.session-home .conteudo hr { width: 400px; border-top: 1px solid black; margin-top: 65px; }

.session-home .conteudo h2 { color: #19e9ff; font-size: 48px; text-transform: uppercase; font-weight: 600; margin-bottom: 10px; }

.session-home .conteudo p { color: #464646; font-size: 15px; }

.session-home .conteudo .texto { padding-left: 20px; }

.session-home .conteudo .texto a { text-transform: uppercase; }

.session-home .conteudo .texto a img { margin-left: 20px; transition: 0.7s; }

.session-home .conteudo .texto a:hover img { margin-left: 40px; }

.session-home .conteudo .texto a:after { content: ""; width: 10%; height: 3px; display: block; background: #19e9ff; margin-top: 5px; }

.session-home-2 { position: relative; }

.session-home-2 .presenteie { position: absolute; z-index: 1; bottom: 50%; }

.session-home-2 .conteudo-icone { display: flex; flex-direction: row-reverse; }

.session-home-2 .conteudo-icone p { font-size: 36px; font-weight: 600; color: black; }

.session-home-2 .conteudo { display: flex; }

.session-home-2 .conteudo hr { width: 400px; border-top: 1px solid black; margin-top: 65px; }

.session-home-2 .conteudo h2 { color: #19e9ff; font-size: 48px; text-transform: uppercase; font-weight: 600; margin-bottom: 10px; }

.session-home-2 .conteudo p { color: #464646; font-size: 15px; text-align: end; }

.session-home-2 .conteudo .texto { padding-right: 20px; display: flex; flex-direction: column; align-items: flex-end; }

.session-home-2 .conteudo .texto a { text-transform: uppercase; }

.session-home-2 .conteudo .texto a img { margin-left: 20px; transition: 0.7s; }

.session-home-2 .conteudo .texto a:after { content: ""; width: 20%; height: 3px; display: block; background: #19e9ff; margin-top: 5px; }

.session-home-3 .tit { text-align: center; color: black; font-weight: 600; font-size: 48px; text-transform: uppercase; }

.session-home-3 .tit:after { content: ""; width: 7%; height: 7px; display: block; background: #19e9ff; margin-top: 7px; margin: 0px auto; }

.session-home-3 .tit .img-01 { max-width: 9%; position: absolute; left: 170px; }

.session-home-3 .tit .img-02 { max-width: 20%; position: absolute; right: 100px; }

.session-home-3 p { text-align: center; width: 50%; margin: 0px auto; }

.session-home-3 .boxcircle { display: flex; justify-content: space-around; margin-top: 50px; }

.session-home-3 .boxcircle p { font-size: 16px; }

.session-home-3 .boxcircle img { border: solid 1px #e5e5e5; border-radius: 50%; padding: 10px; transition: 0.7s; }

.session-home-3 .boxcircle img:hover { background-color: #e5e5e5; }

.session-home-3 .boxcircle hr { width: 10%; border-top: 1px solid black; }

.session-home-4 .row { border: solid white; }

.session-home-4 .box { padding: 100px; display: flex; }

.session-home-4 .box hr { width: 15%; border-top: 1px solid white; }

.session-home-4 .box h2 { text-transform: uppercase; font-weight: 100; font-size: 48px; color: black; }

.session-home-4 .box h2 strong { font-weight: 600; }

.session-home-4 .box p { color: #282828; font-size: 15px; }

.session-home-4 .box .btn-img { background: url(assets/img/btn.png) no-repeat; width: 218px; display: block; height: 47px; background-size: cover; text-align: center; padding: 10px; color: #31e8ff; text-transform: uppercase; }

.session-home-4 .box .btn-img:hover { color: white; }

.session-home-5 { position: relative; margin-bottom: 100px; }

.session-home-5 .indique { position: absolute; left: 0; bottom: 140px; }

.session-home-5 .trofeu { position: absolute; bottom: -55px; right: 46%; }

.session-home-5 .conteudo { display: flex; }

.session-home-5 .conteudo hr { width: 145px; border-top: 1px solid black; margin-top: 100px; position: absolute; left: -90px; }

.session-home-5 .conteudo .second { width: 45px; border-top: 3px solid #19e9ff; margin-top: 158px; position: absolute; left: 10px; }

.session-home-5 .conteudo h2 { color: #010101; font-size: 48px; text-transform: uppercase; font-weight: 100; margin-bottom: 10px; }

.session-home-5 .conteudo h2 strong { color: #19e9ff; font-weight: 600; }

.session-home-5 .conteudo p { color: #464646; font-size: 15px; }

.session-home-5 .conteudo .texto { padding-left: 49px; }

.session-home-5 .conteudo .texto a { text-transform: uppercase; margin-left: 2px; }

.session-home-5 .conteudo .texto a img { margin-left: 20px; transition: 0.7s; }

.session-home-5 .conteudo .texto a:hover img { margin-left: 40px; }

.session-home-5 .conteudo .texto a:after { content: ""; width: 5%; height: 3px; display: block; background: #19e9ff; margin-top: 5px; }

.session-home-5 .conteudo form .form-control { background: #f3f3f3; border-radius: 10px; border: none; width: 60%; }

.session-escolha { position: relative; }

.session-escolha h2 { color: #19e9ff; text-transform: uppercase; font-size: 48px; font-weight: 600; }

.session-escolha .box { margin-bottom: 50px; }

.session-escolha a:hover img { opacity: 0.6s; }

/*# sourceMappingURL=style.css.map */