/******************** ********************/

/******************** IMPORTS ********************/

@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Khand:400,500");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600&display=swap");

// FUNCOES -=================///
%center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%right {
  float: right;
  margin: 0 0 0.5em 0.5em;
}

%left {
  float: left;
  margin: 0 0.5em 0.5em 0;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin skin($color, $size) {
  @extend %center;
  background: $color;
  height: $size;
}

@mixin trans($transition) {
  transition: ease-in-out $transition;
  -moz-transition: ease-in-out $transition;
  -webkit-transition: ease-in-out $transition;
  -o-transition: ease-in-out $transition;
}

/******************** VARS ********************/

$dkBlue: #353e52;
$blue: #5c62a3;
$ltBlue: #95a1a8;

$green: #6cbe99;
$green2: #1fb995;
$orange: #c77032;

$ltrGray: #eee;

//----

$ltrBlue: #c8c9cb;

$dkGreen: #157437;

$teal: #5bbcbc;

$pink: #e76879;

$white: #fff;

$gray: #666;
$ltGray: #999;

$text: $dkBlue;

$font1: "Oswald", sans-serif;
$font2: "Khand";

$tTime: 0.2s;
$tFunc: ease-in-out;

// $tablet-width: 768px;
// $desktop-width: 1024px;

/******************** MEDIA QUERIES ********************/

$xs: 768px;
$xs-special: 480px;
$sm: 992px;
$md: 1200px;

$contSM: 750px;
$contMD: 970px;
$contLG: 1170px;

$col-1-size: 8.33333333;

@mixin xs {
  @media (max-width: #{$xs - 1px}) {
    @content;
  }
}

@mixin xs-sm {
  @media (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin xs-special {
  @media (min-width: #{$xs-special}) and (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$xs}) and (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin grayscale-on {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
}

@mixin grayscale-off {
  -webkit-filter: grayscale(0);
  filter: none;
}

@function col-size($n, $cont-size) {
  @return $n * $col-1-size * $cont-size / 100;
}

@mixin fullabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin afterclear {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin left-container {
  @include xs {
    left: 15px;
  }

  @include sm {
    left: calc((100% - #{$contSM}) / 2 + 15px);
  }

  @include md {
    left: calc((100% - #{$contMD}) / 2 + 15px);
  }

  @include lg {
    left: calc((100% - #{$contLG}) / 2 + 15px);
  }
}

@function left-size($cont-size, $plus-cols: 0) {
  @return calc(
    (100vw - #{$cont-size}) / 2 + #{col-size($plus-cols, $cont-size)}
  );
}

@mixin minus-left-cont {
  @include xs {
    left: 15px;
  }

  @include sm {
    left: calc(#{left-size($contSM)} * -1);
  }

  @include md {
    left: calc(#{left-size($contMD)} * -1);
  }

  @include lg {
    left: calc(#{left-size($contLG)} * -1);
  }
}

@mixin minus-right-cont {
  @include xs {
    right: 15px;
  }

  @include sm {
    right: calc(#{left-size($contSM)} * -1);
  }

  @include md {
    right: calc(#{left-size($contMD)} * -1);
  }

  @include lg {
    right: calc(#{left-size($contLG)} * -1);
  }
}

/******************** BASE ********************/

* {
  outline: transparent !important;
}

html,
body {
  color: $text;
  min-width: 320px;

  font-family: $font1;
  font-size: 16px;
  line-height: 1.6;

  font-smoothing: antialiased;
}

body {
  background: $white;
  overflow-x: hidden;
}

strong {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 30px;

  font-family: $font1;
  font-weight: normal;
  line-height: 1.4;

  strong {
    font-weight: 900;
  }

  small {
    color: inherit;
    font-size: 70%;
    font-weight: inherit;
  }
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

section {
  padding: 50px 0;

  // &.gray { background-color: $ltrGray; }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none !important;

  transition: background $tTime $tFunc, color $tTime $tFunc;

  &:active,
  &:focus,
  &:visited {
    color: inherit;
  }

  &:hover {
    color: $green;
  }

  &.pink:hover {
    color: $pink;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  &.green {
    color: $green;
  }
}

.w-60 {
  width: 60% !important;
}

/******************** CLASSES ********************/

// wrapper

#content-wrapper {
  width: 100%;
  overflow: hidden;
}

.nopadding {
  padding: 0;
}

///// rowflex /////

.row.rowflex {
  display: flex;
}

@media (min-width: 768px) {
  .row.rowflex-sm {
    display: flex;
  }
}

@media (min-width: 992px) {
  .row.rowflex-md {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .row.rowflex-lg {
    display: flex;
  }
}

// fifths

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

///// figures /////

figure.fit {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  width: 100%;
  height: 0;

  padding-bottom: 100%;

  overflow: hidden;

  &.f16by9 {
    padding-bottom: 56.25%;
  }

  &.f4by3 {
    padding-bottom: 75%;
  }

  &.f3by4 {
    padding-bottom: 133.333333%;
  }
}

.bt-medium {
  padding: 12px 18px;

  min-width: 130px;

  font-size: 14px;
}

.bt-large {
  padding: 17.5px 22px;
  min-width: 170px;
  font-size: 18px;
}

///// form control /////

.form-group {
  margin-bottom: 20px;
}

///// owl carousel /////

.owl-carousel {
  &.full-height {
    height: 100%;

    &,
    .owl-stage-outer,
    .owl-stage {
      height: inherit;
    }

    .owl-stage {
      display: flex;

      .owl-item {
        flex-shrink: 0;
      }
    }

    .item {
      height: 100%;
    }
  }

  .owl-item img {
    width: auto;
  }

  .owl-nav {
    // position: absolute;
    // top: 50%;
    // width: 100%;

    // transform: translateY(-50%);

    .owl-prev,
    .owl-next {
      background: $white !important;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: calc(50% - 30px);
      width: 60px;
      height: 60px;

      transition: color $tTime $tFunc, background $tTime $tFunc;

      &:before {
        content: "";

        display: block;
        width: 24px;
        height: 24px;

        border-top: 2px solid $text;
        border-left: 2px solid $text;

        transform: translateX(6px) rotate(-45deg);

        transition: border-color $tTime $tFunc;
      }

      &:hover {
        background: $green !important;

        &:before {
          border-color: $white;
        }
      }
    }

    .owl-next {
      right: 0;

      &:before {
        transform: translateX(-6px) rotate(135deg);
      }
    }
  }

  .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);

    .owl-dot {
      background: $white;
      display: inline-block;
      width: 56px;
      height: 3px;

      margin-right: 10px;

      transition: background $tTime $tFunc, border $tTime $tFunc;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        background: $green;
      }

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 0;
        margin-top: -10px;
      }
    }
  }
}

/******************** MENU ********************/

$mainMenuSize: 90px;
$subMenuSize: 0;
$menuSize: $mainMenuSize + $subMenuSize;

$mainMenuFixedSize: 60px;
$subMenuFixedSize: 0;
$menuFixedSize: $mainMenuFixedSize + $subMenuFixedSize;

$menuMobileColor: $text;
$menuMobileBg: $white;
$menuMobileSize: 70px;

$menuLogoHeight: 69px;
$menuFixedLogoHeight: 50px;

$menuSidePadding: 40px;

$mainMenuColor: $white;
$mainMenuHoverColor: $green;
$mainMenuBg: transparent;
$mainMenuFixedBg: $dkBlue;

$menuFontSize: 16px;
$menuFontWeight: normal;
$menuTextTransform: initial;

$menuHamburgerColor: $green;
$menuHamburgerOpenColor: $white;

$menuTTime: 0.3s;
$menuTFunc: ease-in-out;

body {
  padding-top: $menuSize;
}

@include xs-sm {
  body {
    padding-top: $menuMobileSize;
  }
}

#header {
  background: $mainMenuBg;

  position: fixed;
  top: 0;
  width: 100%;

  z-index: 10;

  transition: background $menuTTime $menuTFunc;

  nav.main-menu {
    display: flex;
    align-items: center;

    height: $mainMenuSize;

    transition: height $menuTTime $menuTFunc;

    .logo {
      display: flex;
      align-items: center;

      .brand img {
        transition: height $menuTTime $menuTFunc;
      }
    }

    #menu {
      display: flex;
      align-items: center;
      justify-content: center;

      & > ul {
        list-style: none;
        padding: 0;
        margin: 12px 0 0;

        display: flex;

        font-size: 15px;
        font-weight: $menuFontWeight;
        text-transform: $menuTextTransform;

        @include afterclear;

        & > li > a {
          color: rgba(255, 255, 255, 0.7);
          padding: 0 10px;
          text-transform: uppercase;
          font-weight: 600;

          &:hover {
            color: #19e9ff;
          }
        }
      }
    }

    .direita {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        transition: transform $menuTTime $menuTFunc;
      }
    }
    .social {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      a {
        margin-left: 10px;
        &:last-child {
          text-transform: uppercase;
          border: solid 2px;
          padding: 3px;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }

    #menu-toggle {
      color: white;
      background-color: transparent;
      text-transform: uppercase;

      display: flex;
      align-items: center;

      border: 0;

      font-size: 15px;

      outline: transparent !important;

      transition: color 0.6s ease-in-out;

      .icon-bars {
        background: white;

        display: inline-block;
        height: 1px;
        width: 20px;

        margin-left: 12px;
        margin-right: 5px;

        position: relative;

        transition: background 0.6s ease-in-out 0s;

        &:before,
        &:after {
          content: "";
          background: white;

          position: absolute;
          right: 0;
          height: 1px;

          transition-property: top, bottom, width, transform, background;
          transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.6s;
          transition-delay: 0.3s, 0.3s, 0.3s, 0s, 0s;
          transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
        }

        &:before {
          width: 20px;
          top: -6px;
        }

        &:after {
          width: 20px;
          bottom: -6px;
        }
      }
    }

    // toggle
  }
}

#header.top-fixed,
#header.top-fixed2 {
  background: black;
}

#header.open {
  z-index: 2;

  nav.main-menu {
    #menu-toggle {
      color: $menuHamburgerOpenColor;

      .icon-bars {
        background: transparent !important;

        &:before {
          background: $menuHamburgerOpenColor;
          top: 0;
          width: 20px;
          transform: rotate(45deg);
          transition-delay: 0s, 0s, 0s, 0.3s;
        }

        &:after {
          background: $menuHamburgerOpenColor;
          bottom: 0;
          transform: rotate(-45deg);
          transition-delay: 0s, 0s, 0s, 0.3s;
        }
      }
    }
  }
}

.sub-menu.open {
  left: 0%;
  @include trans(0.5s);
  background: rgba(0, 0, 0, 1);
}
.sub-menu {
  background: rgba(0, 0, 0, 0);
  width: 30%;
  display: flex;
  position: fixed;
  height: 100%;
  left: -30%;
  top: 0;
  z-index: 2;
  padding: 30px;
  @include trans(0.5s);
  nav {
    ul {
      li {
        text-align: right;
        margin-bottom: 10px;
        display: block;
        h3 {
          color: #31e8ff;
          margin-bottom: 0px;
          font-size: 24px;
        }
        h4 {
          margin-bottom: 15px;
          margin-top: 15px;
          a {
            color: #31e8ff;
            font-size: 24px;
          }
        }
        a {
          font-size: 18px;
          color: $white;
          display: block;
          &:hover {
            color: #31e8ff;
            @include trans(0.2s);
          }
        }
      }
    }
  }
  .link-phone {
    margin-top: 30px;
    color: $green;
    font-size: 26px;
  }
}
@media (max-width: $sm) {
  .sub-menu {
    width: 100%;
    right: -100%;
  }
}
@media (max-width: $xs-special) {
  .sub-menu {
    width: 100%;
    right: -100%;
  }
}
.social-menu {
  margin-top: 0px;
  h6 {
    color: $green;
    margin-bottom: 10px;
  }
  a {
    @include size(50px);
    display: inline-block !important;
    color: $green;
    font-size: 20px;
    &:hover {
      color: $white;
      @include trans(0.2s);
    }
  }
}

@media (min-width: $sm) {
  #header.top-fixed,
  #header.top-fixed2 {
    nav.main-menu {
      height: $mainMenuFixedSize;

      .logo .brand {
        img {
        }
      }

      .direita img {
        transform: scale(0.9);
      }
    }
  }
}

@include md {
  #header nav.main-menu #menu > ul > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Undermenu

#header + .undermenu {
  margin-top: #{-$menuSize};
}

/******************** MISC ********************/

/******************** FOOTER ********************/
.posfooter {
  display: flex;
  background: #19e9ff;
  padding-top: 15px;
  p {
    font-size: 13px;
    color: #464646;
  }
}

#footer {
  background: url(assets/img/footer.png) no-repeat;

  padding: 60px 0;

  .col {
    .titulo {
      color: #454545;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

  .menu {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 29px;

      li {
        position: relative;
        padding-left: 26px;
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }

        img {
          position: absolute;
          left: 0;
          top: 50%;

          transform: translateY(-50%);
        }
      }
    }
  }

  .social {
    .icons {
      font-size: 22px;
      line-height: 1;
      display: flex;

      .social-icon {
        color: #19e9ff;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: $white;
        }
      }
    }
  }

  .copy {
    color: $ltBlue;

    font-size: 16px;
    p {
      margin: 0;
    }
  }
}

/******************** HOME ********************/

#home-banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: calc(100vh - -160px);

  padding: 0;

  .sobretitulo {
    small {
      display: block;
    }
  }

  .titulo,
  img {
    margin-bottom: 25px;
  }

  .mouse-scroll-container {
    position: absolute;
    left: 50%;
    bottom: 45px;

    transform: translateY(-100%);

    z-index: 1;
  }
}

#home-banner-page {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: calc(100vh - 145px);

  padding: 0;
}

#home-banner-carousel {
  padding-bottom: 90px;

  .item {
    display: flex;
    align-items: center;
    padding: 120px 0;
  }

  .owl-dots {
    counter-reset: home-banner-dots;
    @include left-container;

    bottom: 50px;

    transform: none;

    .owl-dot {
      color: $white;
      background-color: transparent;

      position: relative;

      width: 68px;
      height: auto;
      margin-right: 24px;
      border-bottom: 1px solid $white;

      font-size: 13px;
      text-align: left;

      transition: color $tTime $tFunc, border-color $tTime $tFunc;

      &:before {
        counter-increment: home-banner-dots;
        content: counter(home-banner-dots, decimal-leading-zero);

        padding: 6px 4px;
      }

      &:after {
        content: "";

        background-color: $green;

        position: absolute;
        left: 0;
        bottom: 0;

        width: 38px;
        height: 2px;

        opacity: 0;
        transition: background $tTime $tFunc, opacity $tTime $tFunc;
      }

      &.active {
        color: $green;

        border-bottom-color: $green;

        &:after {
          opacity: 1;
        }
      }
    }
  }
}

/******************** RESPONSIVE ********************/

@include xs {
  /***** BASE *****/
}

@include xs-special {
  /***** HOME *****/
}

@include sm {
  /***** BASE *****/
}

@include md {
  /***** BASE *****/

  /***** HEADER *****/

  #header #sub-menu > ul > li > a {
    padding-right: 14px !important;
    padding-left: 14px !important;
  }
}

@include lg {
}

#carousel-sg-imovel {
  .box-1 {
    padding: 50px 30px 50px 50px;

    h4 {
      color: $gray;
      margin-bottom: 30px;
      margin-left: 30px;
      font-family: $font2;
    }

    h5 {
      margin-left: 30px;
      font-size: 30px;
    }
  }

  .box-2 {
    background-color: #3c3c3d;
  }

  .owl-nav button[class*="owl-"] {
    &::before {
      border-top: 1px solid #000;
      border-left: 1px solid #000;
    }
  }

  .icon-planta {
    float: right;
    clear: both;
    margin-top: 40px;
  }
}

.mapa-sg {
  padding-top: 200px;

  aside {
    margin-top: 50px;

    p {
      border-bottom: 1px solid #000;
    }

    ul {
      padding-left: 0;

      li {
        display: block;
        padding-bottom: 10px;
      }
    }
  }

  .container {
    position: relative;
  }
}

.box-mapa {
  color: $white;
  width: 45%;
  display: inline-block;
  position: absolute;
  top: -80px;
  left: 0;
  left: 15px;

  img {
    margin-right: 15px;
  }

  h2 {
    font-family: $font2;
    font-size: 30px;
    margin-bottom: 15px;
  }

  p {
    font-size: 17px;
  }
}

.ic-gale {
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.status-obra {
  h5 {
    margin-bottom: 15px;
  }
}

.box-obra {
  color: $white;
  margin-top: -350px;
  margin-right: 70px;

  h6 {
    font-family: $font2;
    font-size: 30px;
  }

  .progress {
    background-color: #3c3c3d;
    border-radius: 0;
  }

  .progress-bar {
    background-color: $white;
  }
}

.cta-sg {
  p {
    margin-bottom: 20px;
  }

  .cta-phon,
  .cta-what {
    width: 100%;
    font-size: 24px;
    display: block;
    margin-top: 15px;

    i {
      margin-right: 20px;
      font-size: 18px;
    }
  }

  .list-group-item {
    border-radius: 0 !important;
    padding: 30px 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  .tab-pane {
    background-color: $white;
  }
}

.session-home {
  position: relative;
  .quem {
    position: absolute;
    z-index: 1;
    bottom: 50%;
    right: 0;
  }
  .conteudo-icone {
    display: flex;
    margin-top: 50px;
    p {
      font-size: 36px;
      font-weight: 600;
      color: black;
    }
    .texto {
      padding-left: 75px;
    }
  }
  .conteudo {
    display: flex;
    hr {
      width: 400px;
      border-top: 1px solid rgba(0, 0, 0, 1);
      margin-top: 65px;
    }
    h2 {
      color: #19e9ff;
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      color: #464646;
      font-size: 15px;
    }
    .texto {
      padding-left: 20px;
      a {
        text-transform: uppercase;
        img {
          margin-left: 20px;
          transition: 0.7s;
        }
        &:hover {
          img {
            margin-left: 40px;
          }
        }
      }
      a:after {
        content: "";
        width: 10%;
        height: 3px;
        display: block;
        background: #19e9ff;
        margin-top: 5px;
      }
    }
  }
}

.session-home-2 {
  position: relative;
  .presenteie {
    position: absolute;
    z-index: 1;
    bottom: 50%;
  }
  .conteudo-icone {
    display: flex;
    flex-direction: row-reverse;
    p {
      font-size: 36px;
      font-weight: 600;
      color: black;
    }
  }
  .conteudo {
    display: flex;
    hr {
      width: 400px;
      border-top: 1px solid rgba(0, 0, 0, 1);
      margin-top: 65px;
    }
    h2 {
      color: #19e9ff;
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      color: #464646;
      font-size: 15px;
      text-align: end;
    }
    .texto {
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      a {
        text-transform: uppercase;
        img {
          margin-left: 20px;
          transition: 0.7s;
        }
      }
      a:after {
        content: "";
        width: 20%;
        height: 3px;
        display: block;
        background: #19e9ff;
        margin-top: 5px;
      }
    }
  }
}
.session-home-3 {
  .tit {
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    &:after {
      content: "";
      width: 7%;
      height: 7px;
      display: block;
      background: #19e9ff;
      margin-top: 7px;
      margin: 0px auto;
    }
    .img-01 {
      max-width: 9%;
      position: absolute;
      left: 170px;
    }
    .img-02 {
      max-width: 20%;
      position: absolute;
      right: 100px;
    }
  }
  p {
    text-align: center;

    width: 50%;
    margin: 0px auto;
  }
  .boxcircle {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    p {
      font-size: 16px;
    }
    img {
      border: solid 1px #e5e5e5;
      border-radius: 50%;
      padding: 10px;
      transition: 0.7s;
      &:hover {
        background-color: #e5e5e5;
      }
    }
    hr {
      width: 10%;
      border-top: 1px solid rgba(0, 0, 0, 1);
    }
  }
}
.session-home-4 {
  .row {
    border: solid white;
  }
  .box {
    padding: 100px;
    display: flex;
    hr {
      width: 15%;
      border-top: 1px solid rgba(255, 255, 255, 1);
    }
    h2 {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 48px;
      color: black;
      strong {
        font-weight: 600;
      }
    }
    p {
      color: #282828;
      font-size: 15px;
    }
    .btn-img {
      background: url(assets/img/btn.png) no-repeat;
      width: 218px;
      display: block;
      height: 47px;
      background-size: cover;
      text-align: center;
      padding: 10px;
      color: #31e8ff;
      text-transform: uppercase;
      &:hover {
        color: white;
      }
    }
  }
}
.session-home-5 {
  position: relative;
  margin-bottom: 100px;
  .indique {
    position: absolute;
    left: 0;
    bottom: 140px;
  }
  .trofeu {
    position: absolute;
    bottom: -55px;
    right: 46%;
  }
  .conteudo {
    display: flex;
    hr {
      width: 145px;
      border-top: 1px solid black;
      margin-top: 100px;
      position: absolute;
      left: -90px;
    }
    .second {
      width: 45px;
      border-top: 3px solid #19e9ff;
      margin-top: 158px;
      position: absolute;
      left: 10px;
    }
    h2 {
      color: #010101;
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 100;
      margin-bottom: 10px;
      strong {
        color: #19e9ff;
        font-weight: 600;
      }
    }
    p {
      color: #464646;
      font-size: 15px;
    }
    .texto {
      padding-left: 49px;
      a {
        text-transform: uppercase;
        margin-left: 2px;
        img {
          margin-left: 20px;
          transition: 0.7s;
        }
        &:hover {
          img {
            margin-left: 40px;
          }
        }
      }
      a:after {
        content: "";
        width: 5%;
        height: 3px;
        display: block;
        background: #19e9ff;
        margin-top: 5px;
      }
    }
    form {
      .form-control {
        background: #f3f3f3;
        border-radius: 10px;
        border: none;
        width: 60%;
      }
    }
  }
}

.session-escolha {
  position: relative;
  h2 {
    color: #19e9ff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
  }
  .box {
    margin-bottom: 50px;
  }
  a {
    img {
      transition: 0.7s;
    }
    &:hover {
      img {
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }
    }
  }
}
.session-single-grupo {
  position: relative;
  h2 {
    color: #19e9ff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
  }
  .box-conteudo {
    display: flex;
    margin-bottom: 50px;
  }
  .box {
    p {
      margin: 0;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 47px;
      color: black;
    }
    a {
      text-transform: uppercase;
      margin-left: 2px;
      font-weight: 600;
      color: black;
      img {
        margin-left: 20px;
        transition: 0.7s;
      }
      &:hover {
        img {
          margin-left: 40px;
        }
      }
    }
    a:after {
      content: "";
      width: 10%;
      height: 2px;
      display: block;
      background: #19e9ff;
      margin-top: 5px;
    }
    .valor {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 200px;
      p {
        text-transform: uppercase;
      }
      span {
        color: #19e9ff;
        font-weight: 600;
        font-size: 25px;
        position: relative;
        bottom: 5px;
      }
      strong {
        color: black;
        font-weight: 600;
        font-size: 45px;
      }
    }
  }
}

.session-single-grupo-compra {
  position: relative;
  h2 {
    color: #19e9ff;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
  }
  .box-conteudo {
    display: flex;
    margin-bottom: 50px;
  }
  .box {
    form {
      width: 55%;
      .form-control {
        border: 1px solid #19e9ff;
        border-radius: 0 !important;
      }
    }
    p {
      margin: 0;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 47px;
      color: black;
    }
    a.buy {
      text-transform: uppercase;
      margin-left: 2px;
      font-weight: 600;
      color: black;
      img {
        margin-left: 20px;
        transition: 0.7s;
      }
      &:hover {
        img {
          margin-left: 40px;
        }
      }
    }
    a.buy:after {
      content: "";
      width: 10%;
      height: 2px;
      display: block;
      background: #19e9ff;
      margin-top: 5px;
    }
    .valor {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      width: 200px;
      p {
        text-transform: uppercase;
        position: relative;
        top: 5px;
      }
      span {
        color: #19e9ff;
        font-weight: 600;
        font-size: 25px;
        position: relative;
        bottom: 5px;
      }
      strong {
        color: black;
        font-weight: 600;
        font-size: 45px;
      }
    }
    .formas {
      margin-top: 20px;
      width: 370px;
      .formaspagamento {
        margin-top: 10px;
        color: #787878;
        font-size: 18px;
        font-weight: 100;
      }
      .link {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        color: #787878;
        text-decoration: underline;
        font-size: 18px;
        font-weight: 100;
        a {
          display: flex;
          align-items: baseline;
          img {
            width: 25px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
